@{
    ViewBag.Title = "Report";
    Layout = "~/Views/_shared/_LayoutPage1.cshtml";
}

<div style="text-align: center; padding: 20vh">
    <a href="~/Assets/BaoCao_nhom1.pdf" style="margin: auto; display: inline-block; width: auto">Download File Báo cáo tại đây</a>
</div>
